html, body {
    background-color: cornflowerblue;
    font-family: Arial, Helvetica, sans-serif;
    overflow:hidden;
    margin:0px; padding:0px;
    background-image: url('../images/background.gif');
    background-size: cover;
}

body * {
    position: absolute;
    display: block;
    margin:0px; padding:0px;
    box-sizing: border-box;
    background-repeat: no-repeat;
}

playerone {
    width:187px; min-height:197px;
    background-image: url('../images/playerone.gif');
}

hit {
    padding:20px;
    width:540px;
    bottom:20px;
}

enemy {
    width: 200px; min-height: 200px;
    background-image: url('../images/Snottwo.gif');
}

snotspawn {
    width:145px; height: 145px;
    background-image: url('../images/Snot.GIF');
}
